@import url("https://fonts.googleapis.com/css?family=Montserrat");

body{
    background-color: aquamarine;
    font-family: 'Montserrat';
}

.page{
    background-color: #f6e0b5;
    display: flex;
    justify-content: space-evenly;
    max-width: 900px;
    position: relative;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: fit-content;
    margin: 40px 10px 40px 40px;
}

.card{
    max-width: 300px;
    background-color: #66545e;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    border: solid;
    border-color: black;
    border-width: 1.5px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card > h1{
    font-size: 15px;
    margin: 5px 5px;
}


.nav{
    color: #66545e;
    text-align: left;
    margin: 40px 10px;
    font-size: 16px;
    max-width: 180px;
    font-weight: bold;
}
.nav > nav{
    margin: 8px 0px;
}

li{
    list-style: none;
    margin-top: 5px;
}

img {
    width:  300px;
    height: 150px;
    object-fit: fill;
}


