@import url(https://fonts.googleapis.com/css2?family=Agbalumo&display=swap);

body{
    font-family: Agbalumo;
    background-color: black;
}

.border-container{
    background-color: white;
    display: block;
    max-width: 920px;
    padding: 20px;
    margin: auto;
    margin-top: 80px;
}
.main-container{
    max-width: 900px;
    margin:auto;
    background-color: white;
    border: 2px solid black;
}

.main-container .headers{
    background-color: #d5ebea;
    text-align: center;
}

.main-container h1{
    padding-top: 30px;
    font-size: 38px;
}

.main-container .headers hr{
    color: black;
    height: 4px;
    background-color: black;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.content{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.content .card-section{
    max-width: 300px;
    margin-left: 20px;
    border: solid black 2px;
    font-size: 12px;
    margin-bottom: 70px;
}

.content .card-section .image{
    margin: 10px;
}

.content .card-section p{
    margin: 10px;
    margin-top: 20px;
}

.content .paragraphs{
    max-width: 500px;
    font-size: 18px;
    text-indent: 30px;
    margin-right: 40px;
    margin-top: 20px;
}

.content .paragraphs p{
    margin-bottom: 20px;
    line-height: 26px;
}

.facts{
    background-color: #d5ebea;
    position: relative;
}

.facts h2{
    position: absolute;
    top: -33px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    background-color: black;
    font-size: 22px;
}

.facts ul{
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    padding-top: 4px;
}

.facts ul p{
    font-size: 16px;
    margin-top: 10px;
}

.facts ul p span{
    font-weight: bold;
}

.facts > ul > li:nth-child(4) > p{
    padding-bottom: 10px;
}