@import url(https://fonts.google.com/specimen/Raleway);

body{
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

.sections{
    background-color: #efefef;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 40px 40px 0px 40px;
    justify-content: space-between;
    height: 1000px;
}

.vl {
  border-left: 2px solid black;
  height: 100px;
}

.first{
    align-items: flex-end
}

.first > button{
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    font-size: 30px;
    font-weight: 300;
}

.content{
    width: 900px;
    font-size: 24px;
    margin: auto 200px;
}

.content > h1{
    font-size: 70px;
    font-weight: 200;
}

.content > p{
    font-style: italic;
    margin: 50px 0px;
}

.first img{
    width: 1100px;
    margin-right: 200px;
}

.second{
    align-items: flex-start;
}

.second img{
    width: 800px;
    margin: auto;
}

.second .content{
    margin-right: 300px;
}

hr{
    width: 120px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    display: inline-block;
    margin-right: 50px;
}

.links{
    color: gray;
}

.links > i{
    margin-right: 20px;
}

.third{
    background-image: url(images/thumb-1.jpeg);
    background-position: 50%;
    background-size: cover;
}

.forth{
    align-items: flex-end
}

.forth img{
    max-width: 1200px;
    margin: auto;
    margin-right: 200px;
}

.fifth{
    align-items: flex-end;
}
.fifth img{
    width: 800px;
    margin: auto;
}

body > section.sections.fifth > img:nth-child(2){
    width: 1000px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.last{
    margin: auto;
    text-align: center;
    width: 1400px;
}

.input input{
    width: 445px;
    background-color: transparent;
    border: solid black 2px;
}
.input textarea{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 900px;
    background-color: transparent;
    border: solid black 2px;
}

.input button{
    width: 900px;
    color: white;
    background-color: black;
    font-weight: 700;
}

.portfolio{
    font-style: normal !important;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.sixth{
    margin-bottom: 40px;
}